{% load static %}
 <footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <img src="{% static 'img/magudam-logo-png.png' %}">
                
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Information</h4>

                <ul>
                  <li class="active"><a style="padding-left: 25px;" href="{% url 'home' %}">Home</a></li>            
                  <li><a style="padding-left: 25px;" href="{% url 'course' %}">Course Archive</a></li>           
                  <li><a style="padding-left: 25px;" href="{% url 'gallery' %}">Gallery</a></li>           
                  <li><a style="padding-left: 25px;" href="{% url 'contact' %}">Contact</a></li>
                  <li><a style="padding-left: 25px;" href="{% url 'apply' %}" style="color: #56bfff;">Apply Now</a></li> 
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Student Help</h4>
                <ul>
                  <li><a style="padding-left: 25px;"href="{% url 'contact' %}">Get Started</a></li>
                  <li><a style="padding-left: 25px;" href="{% url 'course' %}">Academic News</a></li>                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Course Details</h4>
                <ul>
                  <li><a style="padding-left: 25px;" href="{% url 'course' %}">DNA-846/DHNM-847<p>2 Years</p></a></li>                </ul>       
              </div>
              <div class="mu-footer-widget">
                <h4>Contact</h4>
                               <meta charset="UTF-8">
  <title>WhatsApp Icon Example</title>
  <!-- ✅ CDN: Load Font Awesome Icons -->
    <a style="color: white;" href="https://wa.me/919698002969" target="_blank">
    <i class="bi bi-whatsapp" style="font-size: 20px; color: green;"></i>
    Chat with us    
  </a> 
  </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Reach us</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.422460852371!2d76.98904997587043!3d11.006896254898614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859c91f7aa51f%3A0xe5664fc97c0dd372!2sMagudam!5e0!3m2!1sen!2sin!4v1745473943824!5m2!1sen!2sin" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; All Right Reserved. Managed by <a href="https://www.violetinfotech.in/" target="_blank" rel="nofollow" style="color: orange;">violet infotech</a></p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>